{include file="$blogtemplate/header.template"}

<div id="content">
 {foreach from=$posts item=post}
  <div class="post">
    {include file="$blogtemplate/post.template"}
  </div>
 {/foreach}

    <p class="credit">
        Powered by <a href="http://www.plogworld.net" target="_blank">pLog</a>
    </p>


</div>

{include file="$blogtemplate/panel.template"}
{include file="$blogtemplate/footer.template"}
