 body {
     border: 0px 0px 0px 0px;
     margin: 0px 0px 0px 0px;
     padding: 0px 0px 0px 0px;
     font-size: 10pt;
  }

  table,tr,td,th {
    font-size:10pt;
  }

   a{
     color:#205573;
     background-color:transparent;
     text-decoration:none;
   }

   a:hover{
      background-color:#ddddd4;
      color:#205573;
   }

   #container {
     border: 0px 0px 0px 0px;
     margin: 0px 0px 0px 0px;
     padding: 0px 0px 0px 0px;
   }

   #top {
     position:relative;
     height: 110px;
     top:0px;
     background-color: #626531;
   }

   #left,#right {
     position:relative;
     top: 0px;
     width:17%;
     background-color: #FFFFFF;
     border-bottom: 1px solid black;
     z-index: 1;
   }

   #left {
     float:left;
     border-right: 1px solid black;
   }

   #right {
     left:0px;
     right:0px;
     float:right;
     margin-right:0%;
     border-left: 1px solid black;
   }

   #content h3 {
     margin-top: 10px;
     margin-bottom: 0px;
     margin-left: 7px;
     border-left: 7px solid #EED27B;
     text-indent: 7px;
     font-family:	Trebuchet ms, Verdana, Myriad Web, Syntax, sans-serif;
     font-size: 15px;
   }

   #content {
     position:relative;
     top: 14px;
     background-color: #FFFFFF;
     float:left;
     width: 62%;
     padding-top: 14px;
     padding-left: 1.5%;
     padding-right: 1.5%;
	 font:12px arial, times new roman, lucida sans unicode, sans-serif;
     z-index: 1;
     /*font:10pt arial, times new roman, lucida sans unicode, sans-serif;*/
   }

   #content a {
     text-decoration: none;
     border-bottom: 1px dashed #205573;
   }

   .posttitle {
     margin-top: 10px;
     margin-bottom: 0px;
     font-family:	Trebuchet ms, Verdana, Myriad Web, Syntax, sans-serif;
     font-size: 16px;
     font-weight: bold;
     clear: left;
     margin-bottom: 6px;
   }

   .postbody {
     margin-bottom: 10px;
     margin-top: 10px;
   }

   .postdate {
      font-size: 0.8em;
      color: #555;
   }

   .postlinks {
     font-size: small;
   }

   #footer {
     border-top: 1px dashed black;
     text-align: center;
     font-size:8pt;
     margin-top: 15px;
     padding-top: 5px;
   }

   #footer a, #footer a.hover {
     text-decoration: none;
     border: 0px;
   }

#banner {
 font-family:verdana, arial, sans-serif;
 font-size: 25px;
 font-weight:normal;
 letter-spacing: .2em; 
 z-index:5;
 position: absolute;
 top: 51px;
 left: 10px;
}

#banner a, 
#banner a:hover,
#banner a:link,
#banner a:visited { 
color: #fff; 
text-decoration: none; 
background-color: #626531; 
}

   #sectionHeader {
     padding-left: 1em;
     padding-right: 1em;
     margin-bottom: 0.5em;
     margin-top: 0.2em;
    background-color: #EEEEDE;
    color: #738194;
    text-align:left;
     /*border-top: 1px solid black;
     border-bottom: 1px solid black;*/
     font-family: Arial, Helvetica, sans-serif;
	 font-size: 12px;
	 font-weight: bold;
	 letter-spacing: 2px;
   }

   #sectionContent {
     padding-left: 1em;
     padding-right: 1em;
     font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
     font-size: 11px;
     background-color: #EEEEDE;
     padding-bottom: 0.1em;
     padding-top: 0.1em;
   }

   #recently ul {
    /*margin-bottom:1.5em;
      margin-top:0.5em;*/
   }

   #recently li{
     display:inline;
     list-style:none;
   }

   #recently a {
     color:#205573;
     background-color:transparent;
     display:block;
     font-weight:700;
     margin-left:-3em;
     padding-left:1em;
     text-decoration:none;
   }

   #recently a:hover {
      background-color:#ddddd4;
      color:#205573;
   }


   #misc li{
     display:inline;
     list-style:none;
     color:#205573;
     background-color:transparent;
     display:block;
     font-weight:700;
     margin-left:-3em;
     padding-left:1em;
     text-decoration:none;
   }

   /* generates nice css lists */

 #navcontainer ul {
  position:absolute;
  bottom: 0px;
  /*bottom: -13px;*/
  padding-left: 0;
  margin-left: 0;
  background-color: #CDCE9C;
  color: white;
  float: left;
  width: 100%;
  font-family: arial, helvetica, sans-serif;
  font-size: 10pt;
  border-top: 1px solid #626531;
  border-bottom: 1px solid #626531;
  z-index: 4;
 }

 /* trick for IE 6.x */
 #top>#navcontainer ul {
   bottom: -13px;
 }


 #navcontainer ul li { display: inline; }

 #navcontainer ul li a
 {
 padding: 0.2em 1em;
 background-color: #CDCE9C;
 color: White;
 text-decoration: none;
 float: left;
 border-right: 1px solid #626531;
 margin-right: 1px;
 }

 #navcontainer ul li a:hover
 {
 background-color: #a3a361;
 color: #fff;
 }

 #postcomments {
   margin-top: 10px;
   padding-top: 10px;
   border-top: 1px dashed black;
   border-bottom: 1px dashed black;
   margin-bottom: 10px;
   padding-bottom: 10px;
 }

 #comment {
   margin-bottom: 10px;
 }

 #postcomments h3 {
     margin-top: 0px;
     margin-bottom: 10px;
     border-left: 7px solid #EED27B;
     text-indent: 7px;
 }

 .commentinfo {
   font-size: 0.8em;
   color: #555;
   margin-top: -2px;
   margin-bottom: 3px;
 }

 .commentheader {
   margin-bottom: 5px;
 }

 .commenttopic {
   font-weight: bold;
 }

 .commenttext {
   margin-bottom: 5px;
 }

 .googlepluginmessage {
   border: 1px solid black;
   background-color: #626531;
   color: white;
   padding: 3px;   
 }

#Resource {
    text-decoration: none;
}
#Resource a:link, 
#Resource a,
#Resource a:href
#Resource a:hover {
 text-decoration: none;
 border: 0px;
}

img {
    text-decoration: none;
}
#Resource a:link, 
#Resource a,
#Resource a:href
#Resource a:hover {
 text-decoration: none;
 border: 0px;
}
