<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset={$locale->getCharset()}"/> 
  <link rel="stylesheet" href="styles/admin.css" type="text/css" />
  <title>pLog Admin</title>
  <script type="text/javascript">
   {literal}
   function setEmailAddress(address,dest)
   {
    var field;
    
    if( dest == 1 )
      field = parent.opener.document.newMailMessage.messageRecipient;
    else if( dest == 2 )
      field = parent.opener.document.newMailMessage.messageCc; 
    else if( dest == 3 )
      field = parent.opener.document.newMailMessage.messageBcc; 
    else
      field = parent.opener.document.newMailMessage.messageRecipient;
   
    if(field.value != '')
     field.value+=','+address;
    else
     field.value+=address;
   }
   {/literal}
  </script>
  <style>{literal}
   html,body {
    margin           : 0px;
    padding          : 0px;
    background       : #FFFFFF;
   }
   #container
   {
    width            : 400px;
    text-align       : left;
    margin-left      : auto;
    margin-right     : auto;
   }
.info
{
    margin-bottom    : 10px;
    width            : 285px;
}
#list_action_bar
{
    width            : 285px;
    padding          : 4px;
}
  {/literal}</style>
 </head>

        <div id="list_nav_bar">
            <div id="list_nav_select">
            
<form id="viewUsers" action="admin.php" method="post">
 <fieldset>
  <legend>{$locale->tr("show_by")}</legend>
   <div class="list_nav_option">
    <label for="status">{$locale->tr("status")}</label>
	<br />
    <select name="status" id="status">
    {foreach from=$userstatus key=name item=status}
      <option value="{$status}" {if $currentstatus == $status} selected="selected"{/if}>{$locale->tr($name)}</option>
    {/foreach}
    </select>
   </div>
   <div class="list_nav_option">
    <br />
    <input type="hidden" name="op" value="mailcentreUserSelector">
    <input type="submit" name="Show" value="{$locale->tr("show")}">
   </div>
  </fieldset> 
 </form> 
 </div>
 <br style="clear:both"> 
 <form>
 <fieldset>
  <legend>{$locale->tr("mailcentre_special_recipients")}</legend>
   <div class="list_nav_option">
    <table cols="2" border="0" width="100%">
     <tr>
      <td><a href="javascript:setEmailAddress('[ALL]','{$dest}')">{$locale->tr("all")}</a></td>
      <td><a href="javascript:setEmailAddress('[ALL_ACTIVE]','{$dest}')">{$locale->tr("mailcentre_all_active_users")}</a></td>
     </tr>
     <tr> 
      <td><a href="javascript:setEmailAddress('[ALL_DISABLED]','{$dest}')">{$locale->tr("mailcentre_all_disabled_users")}</a></td>
      <td><a href="javascript:setEmailAddress('[ALL_UNCONFIRMED]','{$dest}')">{$locale->tr("mailcentre_all_unconfirmed_users")}</a></td>
     </tr>
    </table>
   </div>
  </fieldset>
 </form> 
 </div>
 <br style="clear:both">
 </div>            
 
        <form id="siteUsers" action="admin.php" method="post">
        <div id="list">
  {include file="$admintemplatepath/successmessage.template"}
  {include file="$admintemplatepath/errormessage.template"}
            <table class="info">
                <thead>
                    <tr>
                        <th style="width:135px;">{$locale->tr("username")}</th>
                        <th style="width:175px;">{$locale->tr("email")}</th>
                        <th style="width:50px;">{$locale->tr("status")}</th>
                    </tr>
                </thead>
                <tbody>
                   {foreach from=$siteusers item=siteuser}
                    <tr class="{cycle values="odd,even"}">
                        <td class="col_highlighted">
                            <a href="javascript:setEmailAddress('{$siteuser->getEmail()}','{$dest}');">
                             {$siteuser->getUsername()|truncate:20:"..."}
                            </a>
                        </td>
                        <td>
                            <a href="javascript:setEmailAddress('{$siteuser->getEmail()}','{$dest}');">
                            {$siteuser->getEmail()}
                            </a>
                        </td>
                        <td>
                          {foreach from=$userstatus key=name item=status}
                           {if $siteuser->getStatus() == $status}
                            {if $status == 2}<span style="color:red">{$locale->tr($name)}</span>
							{else}{$locale->tr($name)}{/if}
						   {/if}
                          {/foreach}                           
                        </td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
        </div>        
        <div id="list_action_bar">
            {include file="$admintemplatepath/adminpager.template" style=list}
            <a href="javascript:window.close()">{$locale->tr("close")}</a>
        </div>
	</form>
</div>
</body>
</html>
