{include file="$blogtemplate/header.template"}
{include file="$blogtemplate/leftmenu.template"}
<div id="mainarchives">
<div id="archives">
<h2>Archives</h2>


{foreach from=$archives item=month}
<a href="{$month->getUrl()}">{$month->getName()}</a> [{$month->getNumArticles()}]
{/foreach}
</div>
</div>
{include file="$blogtemplate/rightmenu.template"}
{include file="$blogtemplate/footer.template"}