{include file="$blogtemplate/header.template" pageTitle=Documentation}

  <div id="nav_bar">
  <div id="section_title">
     <h2>Developers Documentation</h2>
  </div>
  <br style="clear:both;" />
  </div>
    <ul id="tablist">
      <li><a href="{$url->templatePage("documentation")}">End Users</a></li>
      <li id="tab_active"><a  id="tab_current" href="{$url->templatePage("docsdevel")}">Developers</a></li>
	</ul>

{include file="$blogtemplate/footer.template"}