{include file="$blogtemplate/header.template"}
 {foreach from=$posts item=post}
   {assign var="postDate" value=$post->getDateObject()}
   {if $prevDay != $postDate->getDay()}
    <h2 class="date">{$locale->formatDate($postDate, "%A, %B %d, %Y")}</h2>
   {/if}
   <div class="blogbody">
   {assign var="prevDay" value=$post->getDay()}
   {include file="$blogtemplate/post.template"}
   </div>
 {/foreach}
{include file="$blogtemplate/footer.template"}
