/* 
    "Soft Red" was based on "Plain Blue," which was written by Scott Yang 
    of www.movablestyle.com and released by him under the Creative Commons 
    attribution license (http://creativecommons.org/licenses/by/2.0/).
*/

body, table {
    font-family: verdana, helvetica;
}

body {
    background-color: #fff;
    margin: 0px;
    padding: 0px;
}

a 		{ color: #553E3E; text-decoration: none; font-weight:normal; } 
a:link		{ color: #553E3E; } 
a:visited	{ color: #553E3E; } 
a:active	{ color: #AA7C7C; } 
a:hover		{ color: #AA7C7C; }

h1, h2, h3 {
    margin: 0px;
    padding: 0px;
}

#banner {
    background-color: #FF9696;
    border-bottom: 1px dotted #553E3E;
}

#banner {
    height: 65px;
    padding: 10px 0 0 15px;
}

#banner-commentspop {
    font-size: x-large;
    font-weight: bold;
    padding: 5px 0 5px 5px;
    margin-bottom: 10px;
}

#banner a,
#banner a:link,
#banner a:visited,
#banner a:active,
#banner a:hover {
    color: #000;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: none;
}

#banner .description {
    color: #553E3E;
    font-family: times, serif;
    font-size: large;
    font-style: italic;
    font-weight: bold;
    margin-left: 10px;
}	

#content {
    margin-right: 230px;
    border-right: #553E3E dotted 1px;
}

#container {
    margin: 10px;
}

#links {
    background-color: #fff;
    border-left: 1px dotted #553E3E;
    padding: 10px;				
    position: absolute;
    top: 0px;
    right: 0px;
    width: 209px;
}

body > #links {
    width: 210px;
}

.blog {
    padding: 10px;
    margin-bottom: 10px;
}	


.blogbody {
    color: #666;
    font-size: small;
    font-weight: normal;
    background: #fff;
    line-height: 140%;			
    margin-left: 15px;
    margin-bottom: 10px;
    padding: 5px;
}

.blogbody a,
.blogbody a:link,
.blogbody a:visited {
    border-bottom: 1px dotted #AA7C7C;
}

.title	{ 
    color: #553E3E; 	
    font-family: verdana, helvetica, sans-serif;
    font-size: normal; 
}			

#menu {
    background: #fff;
    font-size: small;
    text-align: left;  							
}		

.date	{ 
    color: #FC6D6D; 
    font-size: small; 
    font-weight: bold;
    margin-bottom: 5px;
}			

.posted	{ 
    color: #666; 
    font-size: x-small; 
    font-style: italic;
    margin-top: 8px;
}


.calendar {
    font-size: x-small;
    font-weight: normal;
    line-height: 140%;
    padding: 2px;
    text-align: center;	
}

.calendarToday {
    font-size: x-small;
    font-weight: bold;
    text-decoration: underline;
    line-height: 140%;
    padding: 2px; 
    text-align: center;  
}

div.calendar {
    padding: 3px;
}

div.calendar table {
    width: 100%;
}

.calendarhead {	
    background: #FF9696;
    border: #999 dotted 1px;
    color: #553E3E;
    font-size: x-small;
    font-weight: bold;
    line-height: 140%;
    padding: 2px;					
    width: 100%;
}	

.side {
    color: #333;
    font-size: x-small;
    font-weight: normal;
    line-height: 140%;
    padding: 3px 7px;				
}	

DIV.side UL {
    position: relative;
    left: -20px;
}

.sidecal {
    position: relative;
    left: 26px;
    color: #333;
    font-size: x-small;
    font-weight: normal;
    line-height: 140%;
    padding: 3px 7px;
    text-align: center;
}

.sidetitle {
    background-color: #FF9696;
    border: 1px dotted #999;
    color: #553E3E;
    font-size: x-small;
    font-weight: bold;
    padding: 2px;
    margin-top: 10px;
    letter-spacing: .3em;
    text-align:center;		  					
}		

.powered {
    font-size: x-small;
    font-weight: bold;
    line-height:140%;
    margin-top: 10px;
    padding:2px;
    text-align:center;
}	

