<ul>
{foreach from=$recentposts item=recentpost}
  <li><a title="{$recentpost->getText()|truncate:150:"..."|strip_tags|escape}" class="navigation" href="{$url->postLink($recentpost)}">{$recentpost->getTopic()}</a></li>
{/foreach}
</ul>
