    </div> <!-- End [content] -->
    <div id="footer">Design by bitxor</div>
  </div> <!-- End [main] -->
  <div id="end"> Powered by <a href="http://www.plogworld.net">pLog</a><br />
    <a href="http://validator.w3.org/check?uri=referer">Valid XHTML 1.0 Strict</a> - <a href="http://jigsaw.w3.org/css-validator/check/referer">Valid CSS</a></div>
</body>
</html>
