
{include file="$blogtemplate/header.template"}
{include file="$blogtemplate/panel.template"}
<div id="content">
  {foreach from=$posts item=post}
    {include file="$blogtemplate/post.template"}
  {/foreach}
</div>
{include file="$blogtemplate/footer.template"}
