<hr />
<div id="footer">
	<p>
		Powered by 
		<a href="http://www.plogworld.net/" title="Powered by pLog, multilingual multiuser multi-blog publishing platform.">pLog</a>
		Valid <a href="http://validator.w3.org/check/referer">XHTML 1.0 Strict</a> and <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
		<br />
		Original Design By <a href="http://binarybonsai.com/kubrick/">Michael Heilemann</a>, modified for <a href="http://www.plogworld.net/" title="Powered by pLog, multilingual multiuser multi-blog publishing platform.">pLog</a> by <a href="http://www.ahknight.net">Knight</a>
		
	</p>
</div>
</div>
 </body>
</html>
