    </div>
    <p class="credit">
        Bitàcola allotjada a <a href="http://www.lamevaweb.info/" target="_blank">lamevaweb.info</a> ::
        Projecte web de <a href="http://www.qdevel.com" target="_blank">qDevel</a> ::
        Programari de <a href="http://www.plogworld.net" target="_blank">pLog team</a>
    </p>
    </body>
</html>
