/* 
    "Very Clean" was based on "MT Plain," which was written by Scott Yang 
    of www.movablestyle.com and released by him under the Creative Commons
    attribution license (http://creativecommons.org/licenses/by/2.0/); this
    style has a substantially different implementation from other clean 
    blog styles with greenish type.
*/

	body {
		margin:0px 0px 20px 0px;
		background:#FFF;		
		}
	A 			{ color: #003366; text-decoration: underline; }
	A:link		{ color: #003366; text-decoration: underline; }
	A:visited	{ color: #003366; text-decoration: underline; }
	A:active	{ color: #999999;  }
	A:hover		{ color: #999999;  }

	h1, h2, h3 {
		margin: 0px;
		padding: 0px;
	}

	#banner {
		font-family:verdana, palatino,  georgia, arial, sans-serif;
		color:#333;
		font-size:30px;
		font-weight:normal;	
  		padding:15px 15px 30px 15px;
                border-top:4px double #666;
		border-bottom: 4px double #666;
		}

	#banner a,
        #banner a:link,
        #banner a:visited,
        #banner a:active,
        #banner a:hover {
		font-family: verdana, palatino,  georgia, arial, sans-serif;
		font-size: 30px;
		color: #333;
		text-decoration: none;
		}

	.description {
		font-family:verdana, palatino,  georgia, arial, serif;
		color:#333;
		font-size: 12px;
  		text-transform:none;	
		}
				
	#content {
		position:absolute;
		background:#FFF;
		margin-right:20px;
		margin-left:220px;
		margin-bottom:20px;
  		width: 70%;
		}

	#container {
		background:#FFF;
		}

	#links {	
		padding:15px;				
		width:155px;			
		background: #FFF;
		border-right: 5px solid #EEE;
		}
		
	.blog {
  		padding:15px;
		background:#FFF; 
		}

	.blogbody {
		font-family:verdana, palatino,  georgia, arial, sans-serif;
		color:#333;
		font-size: 12px;
		font-weight:normal;
  		background:#FFF;
  		line-height:200%;
		}

	.blogbody a,
	.blogbody a:link,
	.blogbody a:visited,
	.blogbody a:active,
	.blogbody a:hover {
		font-weight: normal;
		text-decoration: underline;
	}

	.title	{
		font-family: verdana, palatino,  georgia, arial, serif;
		font-size: 14px;
		color: #666;
		}			

	#menu {
  		margin-bottom:15px;
		background:#FFF;
		text-align:center;
		}		

	.date	{ 
		font-family:verdana, palatino,  georgia, arial, serif; 
		font-size: 16px; 
		color: #333; 
		border-bottom:1px solid #999;
		margin-bottom:10px;
		font-weight:bold;
		}			
		

	.table {
		font-family:verdana, palatino,  georgia, arial, sans-serif;
		color:#333;
		font-size:12px;
		font-weight:normal;
  		background:#FFF;
  		line-height:125%;
		}

	.posted	{ 
		font-family:verdana, arial, sans-serif; 
		font-size: 10px; 
		color: #000000; 
		margin-bottom:25px;
		}
		
		
	.calendar {
		font-family:verdana, arial, sans-serif;
		color:#666;
		font-size:10px;
		font-weight:normal;
  		background:#FFF;
  		line-height:140%;
  		padding:2px;
                text-align:left;
		}

	.calendarToday {
                font-family:verdana, arial, sans-serif;
                color:#666;
                font-size:10px;
                background:#FFF; 
                line-height:140%;
                padding:2px;
                text-align:left; 
		font-weight: bold;
	}
	
	.calendarhead {	
		font-family:verdana, palatino,  georgia, arial,  serif;
		color:#666600;
		font-size:12px;
		font-weight:normal;
  		padding:2px;
		letter-spacing: .3em;
  		background:#FFF;
  		text-transform:uppercase;
		text-align:left;			
		}	
	
	.side {
		font-family:verdana, arial, sans-serif;
		color:#333;
		font-size:10px;
		font-weight:normal;
  		background:#FFF;
  		line-height:140%;
  		padding:2px;				
		}	
		
	.sidetitle {
		font-family:verdana, palatino,  georgia, arial, serif;
		color:#666600;
		font-size:12px;
		font-weight:normal;
  		padding:2px;
  		margin-top:30px;
		letter-spacing: .3em;
  		background:#FFF;
  		text-transform:uppercase;		
		}		
	
	.syndicate {
		font-family:verdana, arial, sans-serif;
		font-size:xx-small;		
  		line-height:140%;
  		padding:2px;
  		margin-top:15px;
  		background:#FFF;  		
 		}	
		
	.powered {
		font-family:verdana, palatino,  georgia, arial, serif;
		color:#666;
		font-size:x-small;		
		line-height:140%;
		text-transform:uppercase; 
		padding:2px;
		margin-top:50px;
		letter-spacing: .2em;					
  		background:#FFF;		
		}	
		
	
DIV.side UL {
    position: relative;
    left: -25px;
}

