{include file="summary/header.template" section=$locale->tr("search_results")}
<div id="onecolumn">
    {foreach from=$searchresults item=result}
	    {assign var="post" value=$result->getArticle()}
		{assign var="blog" value=$post->getBlogInfo()}
		{assign var="request" value=$blog->getBlogRequestGenerator()}
	    {include file="summary/post.template"}
    {/foreach}
	{** bloglistpager links=$linkslist current=$currentPage **}
</div>
{include file="summary/footer.template"}
