  <tr>
    <td colspan="2" class="footer">&copy;2004 TOTO.net &nbsp;&nbsp;&nbsp;Powered by <a href="http://www.plogworld.net" target="_blank">pLog</a>  Designed by <a href="mailto:toto@jxfw.com">toto</a></td>
  </tr>
</table>
</body>
</html>
