<h3>{$locale->tr("item_protected")}</h3>
{$locale->tr("item_protected_help")}
<form name="secretPassword" method="post" action="{$url->getIndexUrl()}">
 <input type="password" name="itemPassword" value="" /><br /><br />
 {foreach from=$params item=param key=paramName}
  <input type="hidden" name="{$paramName}" value="{$param}" />
 {/foreach}
 <input type="hidden" name="articleId" value="{$articleId}" />
 <input type="submit" name="Send" value="{$locale->tr("send")}" />
</form>