<h4>{$locale->tr("summary_latest_posts")}
  {if $posts}
    <a href="{$url->getRssUrl()}?summary=1">
      <img src="{$url->getUrl("/imgs/rss_logo_small.gif")}" 
        alt="RSS" /></a>
  {/if}
</h4>
{foreach from=$posts item=post}
 {include file="summary/post.template"}
{/foreach}
