<?php
#
# enables or disables comments
#
$config["comments_enabled"] = true;

#
# enables or disables the RDF feed
#
$config["rdf_enabled"] = true;

#
# temporary folder
#
$config["temp_folder"] = "./tmp";

#
# where is our page located
# (note: so far only used by the RDF engine)
#
$config["journal_url"] = "http://your.host/your/url";

#
# database settings
#
$config["db_host"] = "your_db_host";
$config["db_username"] = "your_db_user";
$config["db_password"] = "your_db_password";
$config["db_database"] = "your_database";
#
# the database prefix will be appended to the name of each database tables in case you want
# to have more than one version of plog running at the same time, such as the stable and
# unstable one for testing. Each one could use a different prefix and therefore they could
# coexist in the same unique database. If you change this after the initial configuration done
# with the installation wizard, please make sure that you also rename the tables.
#
$config["db_prefix"] = "plog_";

#
# enables or disables the search feature
#
$config["search_enabled"] = "true";

#
# how many posts we show in the main page
# (note: using op=see_all will show all the posts)
# it also affects how many posts will be included in the
# RDF feed
#
$config["show_posts_max"] = "15";
#
# how many posts we show in the "recent" list
#
$config["recent_posts_max"] = "10";

#
# sets the default layout
#
$config["default_template"] = "grey";

#
# default folder where layouts can be found
#
$config["template_folder"] = "./templates";

#
# identifier from the database of the default blog we should
# show if no parameter is specified
#
$config["default_blog_id"] = 1;

#
# default locale used to render the messages
#
$config["default_locale"] = "en_UK";

#
# determines which html tags are allowed in user comments (anything is allowed
# in posts!!)
#
$config["html_allowed_tags_in_comments"] = "<a><i><br><br/><b>";

#
# enables or disables the referer tracker, so that we can collect some statistics
# on who is linking to us and when
#
$config["referer_tracker_enabled"] = true;

#
# enables or disables globally the RSS parser used to import RSS/RDF sources
#
$config["rss_parser_enabled"] = true;

#
# determines wether to enable or not the "show more" link, used when an article
# goes over the 'show_more_threshold' words
#
$config["show_more_enabled"] = true;

#
# after how many **words** we should show the "more..." link
## NB: the unit is words, not characters!!!
#
$config["show_more_threshold"] = 50;

#
# wether we should keep count on how many times an article has been read or not
# this of course requires an additional query to be performed on the database
# every time
#
$config["update_article_reads"] = true;

#
# Enables or disables globally the email notification service. 
# This only controls the email sending service, which is then used in other places
# of the blog. For example, the owner of a post can be notified every time there is 
# a new comment in a post.
# This extension of course needs PHP to be built with the email functions and those 
# to be enabled. The smtp server and user used to send emails is configured by the 
# php.ini file and can therefore not be configured here. Please have a look at 
# http://www.php.net/manual/en/function.mail.php for more information.
#
$config["email_service_enabled"] = true;

#
# determines which address will appear in the From: field when the system
# sends a notification email.
#
$config["post_notification_source_address"] = "newcomment@noreply.net";

#
# this setting controls how urls are generated inside the application
# possible values are:
# 1: urls are generated like any other normal http url, in the form of:
#     index.php?op=Default&blogId=2
# 2: urls are generated in a 'search engine friendly' way:
#     index.php/op/Default/blogId/2
# WARNING: support for type number '2' of urls is still a bit buggy... better
# live with '1' for a while!!
#
$config["request_format_mode"] = 1;

#
# wether the xmlrpc ping to notify services like weblogs.com and blo.gs is enabled
#
$config["xmlrpc_ping_enabled"] = false;
#
# which sources we want to notify (must include the full url to the xmlrpc
# interface they're providing!!!) We can add as many as we need to because this is an
# array. Leave it just as Array() if no hosts are defined.
#
$config["xmlrpc_ping_hosts"] = Array( "http://rpc.weblogs.com/RPC2" );

#
# wether or not to enable the trackback feature in server mode. that is, 
# wether we should or not accept trackback ping requests.
#
$config["trackback_server_enabled"] = true;

#
# wether to enable or not the htmlarea feature, that allows WYSISWYG edition
# of textarea fields. It is very handy so by default it is enabled.
#
$config["htmlarea_enabled"] = true;

#
# wether to enable or not the plugin manager
#
$config["plugin_manager_enabled"] = true;

#
# if set to true, the EmailValidator class will do first a basic check on the sintax
# of the email address and then will proceed to do some MX record checkings and
# then check if the email address is a valid one doing some interaction with the
# smtp server. It is recommended to leave this turned on if we are running a
# site with an open registration process. Email validations are carried everywhere
# an email address is required, for example when updating the users's own email
# address in the 'user profile' part.
# Please set this to 'false' if you are running plog for your own personal use
# and/or your php installation does not have the networking functions enabled.
#
$config["check_email_address_validity"] = false;

#
# how many posts we would like to show in the summary page. This feature
# needs the summary.php file available.
#
$config["summary_page_show_max"] = 15;
?>
