<div class="clear">&nbsp;</div>
<div id="footer">
<div id="credits">
<p>Designed by <a href="http://www.flyupsky.net" target="_blank">Gut</a> | Powered by <a href="http://www.plogworld.net" target="_blank">plog</a> | Valid <a href="http://validator.w3.org/check/referer" target="_blank">XHTML</a> and <a href="http://jigsaw.w3.org/css-validator/check/referer" target="_blank">CSS</a></p>
</div>
</div>
</div>
</body>
</html>