		{include file="$blogtemplate/header.template"} 
<h2>{$locale->tr("archives")}</h2>

<div id="archives_list">
<div id="Archives">
	
	<ul>
		{foreach from=$archives item=month}
    	<li><a href="{$month->getUrl()}">{$month->getName()}</a> [{$month->getNumArticles()}]</li>
    		{/foreach}
    		
    		
    	</ul>
</div>
</div>   	
   		{include file="$blogtemplate/footer.template"} 