{include file="$blogtemplate/header.template"}
{include file="$blogtemplate/panel.template"}
	{foreach from=$posts item=post}
			<div id="Article_body">
  		{include file="$blogtemplate/post.template"}
  			</div>
	{/foreach}
{include file="$blogtemplate/footer.template"}