		 </div>
<!--// Content End //-->


<!--// Bottom Begain //-->		
  {include file="$blogtemplate/copyright.template"}
<!--// Bottom End //-->
	 </div>
<!--// Main End//-->
</div>
<!--//  Container End//-->
</body>
</html>
