/* IE styles only */

#maincolumn {
  width: 428px;
}

#column-left {
  margin-top: 0px;
}

#column-right {
  margin-top: 0px;
}

#onecolumn {
  padding-right: 0px;
}

.buttons {
  padding-top: 7px;
}