{include file="$blogtemplate/header.template"}
  <p>
   The following sites are running pLog. Have a look at them if you want to see how 
   pLog feels like:
  </p>
  <ul>
  <li><a href="http://www.renalias.net">Oscar's (one of the developers) own personal page</a> (Kind of slow
  sometimes)</li>
  <li><a href="http://www.francesc.net">Francesc's (another developer) own personal page</a> (Faster than
  Oscar's :))</li>
  <li><a href="http://www.lamevaweb.info">Free blogging service for the users of the #tarrega channel in the
  Spanish IRC network.</a>.</li>
  <li><a href="http://ireport.sourceforge.net">iReport project</a> (old version)</li>
  <li><a href="http://buggy.nethut.pl">Michael Paluchowsky's guaranteed bug-free blog</a></li>
  <li><a href="http://someblog.com">Darren's Someblog [dot] com</a></li>
  <li><a href="http://yomcat.geek.nz">Yomcat's Blog</a></li>
  <li><a href="http://www.socklabs.com">SockLabs</a></li>
  <li><a href="http://www.familyadams.com/plog">Family Adams Online</a></li>
  <li><a href="http://www.psychopenguin.com.br">Psycho Penguin Web Log</a></li>
  <li><a href="http://www.bantamtech.com/~kevin/">Insufficient Memory</a></li>
  </ul>
 <p>
  If you would like to have your site featured here, <a href="mailto:phunkphorce@users.sourceforge.net">let us know!</a>
 </p>
{include file="$blogtemplate/footer.template"}
