    <div class="block-shadow">
     <div class="block-main">
      <div class="{cycle values="box-red,box-blue,box-orange,box-teal,box-purple,box-green"}">
       <div class="block-calendar">

        <div class="block-title">
         <div class="block-header">
          {$locale->tr("calendar")}
         </div>
        </div>

        {$calendar}
        <br/>
       </div>
      </div>
     </div>
    </div>



