{include file="$blogtemplate/header.template"}

    <div class="block-shadow">
     <div class="block-main">
      <div class="{cycle values="box-teal,box-purple,box-red,box-green,box-blue"}">
       <div class="block-features">

        <br/>
        <span class="features">Features</span><br/><br/>
        {$blog->getAbout()}
        <br/><br/>

       </div>
      </div>
     </div>
    </div>

{include file="$blogtemplate/footer.template"}
